.banner{
	display: -webkit-box;	 
  	display: -moz-box;	
  	display: -ms-flexbox; 
  	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 400px;
	background-image: linear-gradient(135deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.2) 50%), url(../Asserts/Images/banner.jpeg);
	background-color: #ccc;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
	color: #fff;
	text-align: center;
	border-radius: 3.5px;
	overflow: hidden;
}

.banner-content{
	-webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
	flex: 0 1 100%;
}

.banner-content h1{
	font-size: 24px;
	font-weight: 400;
	letter-spacing: -1px;
	margin-top: 22px;
	margin-bottom: 45px;
	text-shadow: 2px 1px 3px rgba(0,0,0,0.1);
}

.banner-content h2{
	font-size: 35px;
	letter-spacing: -1px;
	margin-top: 22px;
	margin-bottom: 30px;
	text-shadow: 2px 1px 3px rgba(0,0,0,0.1);
}

@media(min-width: 768px){
	.banner-content h2{
		font-size: 38px;
	}
}

@media(min-width: 992px){
	.banner-content h2{
		font-size: 45px;
	}
}

.banner-content p{
	font-size: 19px;
	font-weight: 100;
	padding: 20px;
}

@media(min-width: 768px){
	.banner-content p{
		font-size: 23px;
	}
}