.banner-btn{
	display: -webkit-box;	 
  	display: -moz-box;	
  	display: -ms-flexbox; 
  	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 1;
	//border: 1px solid red;
}

.banner-a{
	color: #7c7c7c;
	font-weight: 900;
	font-size: 16px;
	border-radius: 4px;
	background-color: #fff;
	padding: 15px 20px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	transform: translateY(-50%);
}

.banner-a:hover{
	color: #333;
	box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

@media(min-width: 768px){
	.banner-a{
		padding: 20px 30px;
	}
}