.info-head h1{
	font-size: 70px;
	color: #333333;
	line-height: 1;
	margin-top: 60px;
}

@media(max-width: 768px){
	.info-head h1{
      font-size: 32px;
      margin-top: 45px;
	}
}

.info-head p{
  font-weight: 300;
  color: #333333;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media(max-width: 768px){
	.info-head p{
      margin-top: 45px;
      margin-top: 30px;
	}
}

.pickup-form{
	width: 100%;
	padding-bottom: 50px;
}

.name-container, .email-container, .phone-container, .address-container, .date-container, .list-area, .first-name, .last-name, .city-state-container, .city-contain{
  display: -webkit-box;	 
  display: -moz-box;	
  display: -ms-flexbox; 
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.name-container, .city-state-container{
   -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
   justify-content: space-between;
}

.city-contain{
  flex: 0 0 30%;
}
.city-contain-select{
  position: relative;
  flex: 0 0 30%;
}
.city-contain-select::after{
  content: '';
  display: inline-block;
  border-top: 7px solid #777;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  position: absolute;
  top: calc(50% - 5px);
  right: .5rem;
  z-index: -1;
  pointer-events: none;
}
@media(max-width: 768px){
 .city-contain{
  flex: 0 0 100%;
}
 .city-contain-select{
  flex: 0 0 100%;
}
}
.city-contain-select label{
  display: block;
}
.name-container label, .email-container label, .phone-container label,  .date-container label, .list-area label, .address-container label, .city-contain label, .city-contain-select label{
	width: 100%;
	color: #747070;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
}

.first-name{
  flex: 0 0 49%;
}

.last-name{
  flex: 0 0 49%;
}

@media(max-width: 768px){
.first-name{
  flex: 0 0 100%;
}

.last-name{
  flex: 0 0 100%;
}
}

.name-container input, .email-container input, .phone-container input,  .date-container input, .list-area textarea, .address-container input, .city-contain input, .city-contain-select select{
	width: 100%;
	color: #333333;
	padding: 12px 20px;
	margin-bottom: 40px;
  outline: none;
	border-radius: 4px;
	border: 1px solid #f4f4f4;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}
.name-container input:focus, .email-container input:focus, .phone-container input:focus,  .date-container input:focus, .list-area textarea:focus, .address-container input:focus, .city-contain input:focus, .city-contain-select select:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}
.city-contain-select select{
  display: inline-block;
  background-color: transparent;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  margin-bottom: 40px;
}
 .pickup-form input[type='submit']{
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin-top: 30px;
  //margin-left: 20px;
  border: 0px;
  border-radius: 4px;
  background-color: #C12B2B;
  padding: 15px 25px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  cursor: pointer;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.pickup-form input[type='submit']:hover{
  box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}
.error-form{
  position: absolute;
  margin-top: 80px;
  font-size: 16px;
  font-weight: 600;
  color: red;
  margin-bottom: 10px;
}

.city-contain-select .error-form{
 margin-top: -38px; 
}

.error:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}